content/modules/n8n/Canva用シート振り分け2.json
{
  "name": "Canva用シート振り分け",
  "nodes": [
    {
      "parameters": {},
      "id": "61e5d669-694f-4f22-9958-112085d1aa7c",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-1072, 80]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://script.google.com/macros/s/AKfycbzKG2-JfMU9wcuF9r8jC5JJoAU-P26qiqmFnWURQyVgxxVdvGzeB8gsP3xJy9_3hqEp/exec",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"action\":\"archiveAndCleanCanvaSheets\"}",
        "options": {}
      },
      "id": "archive-clean-http",
      "name": "Archive & Clean Canva Sheets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-864, 80]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ",
          "mode": "list",
          "cachedResultName": "n8n-test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1340398352,
          "mode": "list",
          "cachedResultName": "posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ/edit#gid=1340398352"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "DRAFT"
            }
          ]
        },
        "options": {}
      },
      "id": "6192d4a7-7568-455b-888c-3f32582e0b05",
      "name": "Get DRAFT Posts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-656, 80],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3KFmyH23tY8tVoe2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  const postId = item.json.post_id;\n  const contentJsonStr = item.json.content_json;\n  \n  if (!contentJsonStr) continue;\n  \n  try {\n    const json = JSON.parse(contentJsonStr);\n    const pattern = json.pattern || '';\n    \n    let category = '';\n    switch (pattern) {\n      case 'versus': category = 'A'; break;\n      case 'instant_hack': category = 'B'; break;\n      case 'secret_feature': category = 'C'; break;\n      case 'warning': category = 'D'; break;\n      case 'ranking': category = 'E'; break;\n      default: category = 'C';\n    }\n    \n    // 新しい列構造: problems, step1_content, step2_content, step3_content（改行区切り）\n    results.push({\n      json: {\n        post_id: postId,\n        category: category,\n        narration_1: json.narration_1 || '',\n        narration_2: json.narration_2 || '',\n        hook: json.hook || '',\n        title_1: json.title_1 || '',\n        title_2: json.title_2 || '',\n        title_3: json.title_3 || '',\n        problems: json.problems || '',\n        step1_title: json.step1_title || '',\n        step1_content: json.step1_content || '',\n        step2_title: json.step2_title || '',\n        step2_content: json.step2_content || '',\n        step3_title: json.step3_title || '',\n        step3_content: json.step3_content || '',\n        cta: json.cta || ''\n      }\n    });\n  } catch (e) {\n    // skip invalid JSON\n  }\n}\n\nreturn results;"
      },
      "id": "369715d2-b43b-41b5-a5a8-9aa8f5bdbab5",
      "name": "Parse JSON & Category",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-432, 80]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2},
                "conditions": [{"leftValue": "={{ $json.category }}", "rightValue": "A", "operator": {"type": "string", "operation": "equals"}}],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Category A"
            },
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2},
                "conditions": [{"leftValue": "={{ $json.category }}", "rightValue": "B", "operator": {"type": "string", "operation": "equals"}}],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Category B"
            },
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2},
                "conditions": [{"leftValue": "={{ $json.category }}", "rightValue": "C", "operator": {"type": "string", "operation": "equals"}}],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Category C"
            },
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2},
                "conditions": [{"leftValue": "={{ $json.category }}", "rightValue": "D", "operator": {"type": "string", "operation": "equals"}}],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Category D"
            },
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2},
                "conditions": [{"leftValue": "={{ $json.category }}", "rightValue": "E", "operator": {"type": "string", "operation": "equals"}}],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Category E"
            }
          ]
        },
        "options": {}
      },
      "id": "7ba39ad7-1d53-410d-b6e5-db0eb188241d",
      "name": "Switch Category",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [-208, 80]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ",
          "mode": "list",
          "cachedResultName": "n8n-test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1459009746,
          "mode": "list",
          "cachedResultName": "canva_A",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ/edit#gid=1459009746"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "post_id": "={{ $json.post_id }}",
            "narration_1": "={{ $json.narration_1 }}",
            "narration_2": "={{ $json.narration_2 }}",
            "hook": "={{ $json.hook }}",
            "title_1": "={{ $json.title_1 }}",
            "title_2": "={{ $json.title_2 }}",
            "title_3": "={{ $json.title_3 }}",
            "problems": "={{ $json.problems }}",
            "step1_title": "={{ $json.step1_title }}",
            "step1_content": "={{ $json.step1_content }}",
            "step2_title": "={{ $json.step2_title }}",
            "step2_content": "={{ $json.step2_content }}",
            "step3_title": "={{ $json.step3_title }}",
            "step3_content": "={{ $json.step3_content }}",
            "cta": "={{ $json.cta }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "post_id", "displayName": "post_id", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "narration_1", "displayName": "narration_1", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "narration_2", "displayName": "narration_2", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "hook", "displayName": "hook", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "title_1", "displayName": "title_1", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "title_2", "displayName": "title_2", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "title_3", "displayName": "title_3", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "problems", "displayName": "problems", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "step1_title", "displayName": "step1_title", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "step1_content", "displayName": "step1_content", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "step2_title", "displayName": "step2_title", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "step2_content", "displayName": "step2_content", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "step3_title", "displayName": "step3_title", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "step3_content", "displayName": "step3_content", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "cta", "displayName": "cta", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3315da4e-39eb-46f6-8237-2aff7085774a",
      "name": "Append to canva_A",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [32, -128],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3KFmyH23tY8tVoe2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ",
          "mode": "list",
          "cachedResultName": "n8n-test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1989446321,
          "mode": "list",
          "cachedResultName": "canva_B",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ/edit#gid=1989446321"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "post_id": "={{ $json.post_id }}",
            "narration_1": "={{ $json.narration_1 }}",
            "narration_2": "={{ $json.narration_2 }}",
            "hook": "={{ $json.hook }}",
            "title_1": "={{ $json.title_1 }}",
            "title_2": "={{ $json.title_2 }}",
            "title_3": "={{ $json.title_3 }}",
            "problems": "={{ $json.problems }}",
            "step1_title": "={{ $json.step1_title }}",
            "step1_content": "={{ $json.step1_content }}",
            "step2_title": "={{ $json.step2_title }}",
            "step2_content": "={{ $json.step2_content }}",
            "step3_title": "={{ $json.step3_title }}",
            "step3_content": "={{ $json.step3_content }}",
            "cta": "={{ $json.cta }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "post_id", "displayName": "post_id", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "narration_1", "displayName": "narration_1", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "narration_2", "displayName": "narration_2", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "hook", "displayName": "hook", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "title_1", "displayName": "title_1", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "title_2", "displayName": "title_2", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "title_3", "displayName": "title_3", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "problems", "displayName": "problems", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "step1_title", "displayName": "step1_title", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "step1_content", "displayName": "step1_content", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "step2_title", "displayName": "step2_title", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "step2_content", "displayName": "step2_content", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "step3_title", "displayName": "step3_title", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "step3_content", "displayName": "step3_content", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "cta", "displayName": "cta", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f4303d1e-6257-408b-9d07-4c70a5e6cee7",
      "name": "Append to canva_B",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [32, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3KFmyH23tY8tVoe2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ",
          "mode": "list",
          "cachedResultName": "n8n-test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 10904001,
          "mode": "list",
          "cachedResultName": "canva_C",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ/edit#gid=10904001"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "post_id": "={{ $json.post_id }}",
            "narration_1": "={{ $json.narration_1 }}",
            "narration_2": "={{ $json.narration_2 }}",
            "hook": "={{ $json.hook }}",
            "title_1": "={{ $json.title_1 }}",
            "title_2": "={{ $json.title_2 }}",
            "title_3": "={{ $json.title_3 }}",
            "problems": "={{ $json.problems }}",
            "step1_title": "={{ $json.step1_title }}",
            "step1_content": "={{ $json.step1_content }}",
            "step2_title": "={{ $json.step2_title }}",
            "step2_content": "={{ $json.step2_content }}",
            "step3_title": "={{ $json.step3_title }}",
            "step3_content": "={{ $json.step3_content }}",
            "cta": "={{ $json.cta }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "post_id", "displayName": "post_id", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "narration_1", "displayName": "narration_1", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "narration_2", "displayName": "narration_2", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "hook", "displayName": "hook", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "title_1", "displayName": "title_1", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "title_2", "displayName": "title_2", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "title_3", "displayName": "title_3", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "problems", "displayName": "problems", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "step1_title", "displayName": "step1_title", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "step1_content", "displayName": "step1_content", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "step2_title", "displayName": "step2_title", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "step2_content", "displayName": "step2_content", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "step3_title", "displayName": "step3_title", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "step3_content", "displayName": "step3_content", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "cta", "displayName": "cta", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "78031603-3766-498d-bd03-98f97d26c4be",
      "name": "Append to canva_C",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [32, 112],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3KFmyH23tY8tVoe2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ",
          "mode": "list",
          "cachedResultName": "n8n-test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 920483375,
          "mode": "list",
          "cachedResultName": "canva_D",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ/edit#gid=920483375"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "post_id": "={{ $json.post_id }}",
            "narration_1": "={{ $json.narration_1 }}",
            "narration_2": "={{ $json.narration_2 }}",
            "hook": "={{ $json.hook }}",
            "title_1": "={{ $json.title_1 }}",
            "title_2": "={{ $json.title_2 }}",
            "title_3": "={{ $json.title_3 }}",
            "problems": "={{ $json.problems }}",
            "step1_title": "={{ $json.step1_title }}",
            "step1_content": "={{ $json.step1_content }}",
            "step2_title": "={{ $json.step2_title }}",
            "step2_content": "={{ $json.step2_content }}",
            "step3_title": "={{ $json.step3_title }}",
            "step3_content": "={{ $json.step3_content }}",
            "cta": "={{ $json.cta }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "post_id", "displayName": "post_id", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "narration_1", "displayName": "narration_1", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "narration_2", "displayName": "narration_2", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "hook", "displayName": "hook", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "title_1", "displayName": "title_1", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "title_2", "displayName": "title_2", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "title_3", "displayName": "title_3", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "problems", "displayName": "problems", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "step1_title", "displayName": "step1_title", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "step1_content", "displayName": "step1_content", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "step2_title", "displayName": "step2_title", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "step2_content", "displayName": "step2_content", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "step3_title", "displayName": "step3_title", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "step3_content", "displayName": "step3_content", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "cta", "displayName": "cta", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7f4d5e25-95d4-468b-bbef-484172323e16",
      "name": "Append to canva_D",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [32, 240],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3KFmyH23tY8tVoe2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ",
          "mode": "list",
          "cachedResultName": "n8n-test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1645982552,
          "mode": "list",
          "cachedResultName": "canva_E",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ/edit#gid=1645982552"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "post_id": "={{ $json.post_id }}",
            "narration_1": "={{ $json.narration_1 }}",
            "narration_2": "={{ $json.narration_2 }}",
            "hook": "={{ $json.hook }}",
            "title_1": "={{ $json.title_1 }}",
            "title_2": "={{ $json.title_2 }}",
            "title_3": "={{ $json.title_3 }}",
            "problems": "={{ $json.problems }}",
            "step1_title": "={{ $json.step1_title }}",
            "step1_content": "={{ $json.step1_content }}",
            "step2_title": "={{ $json.step2_title }}",
            "step2_content": "={{ $json.step2_content }}",
            "step3_title": "={{ $json.step3_title }}",
            "step3_content": "={{ $json.step3_content }}",
            "cta": "={{ $json.cta }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "post_id", "displayName": "post_id", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "narration_1", "displayName": "narration_1", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "narration_2", "displayName": "narration_2", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "hook", "displayName": "hook", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "title_1", "displayName": "title_1", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "title_2", "displayName": "title_2", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "title_3", "displayName": "title_3", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "problems", "displayName": "problems", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "step1_title", "displayName": "step1_title", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "step1_content", "displayName": "step1_content", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "step2_title", "displayName": "step2_title", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "step2_content", "displayName": "step2_content", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "step3_title", "displayName": "step3_title", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "step3_content", "displayName": "step3_content", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "cta", "displayName": "cta", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7d6f3f30-140f-41ee-8447-5c6cef2b04f5",
      "name": "Append to canva_E",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [32, 352],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3KFmyH23tY8tVoe2",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Archive & Clean Canva Sheets", "type": "main", "index": 0}]]
    },
    "Archive & Clean Canva Sheets": {
      "main": [[{"node": "Get DRAFT Posts", "type": "main", "index": 0}]]
    },
    "Get DRAFT Posts": {
      "main": [[{"node": "Parse JSON & Category", "type": "main", "index": 0}]]
    },
    "Parse JSON & Category": {
      "main": [[{"node": "Switch Category", "type": "main", "index": 0}]]
    },
    "Switch Category": {
      "main": [
        [{"node": "Append to canva_A", "type": "main", "index": 0}],
        [{"node": "Append to canva_B", "type": "main", "index": 0}],
        [{"node": "Append to canva_C", "type": "main", "index": 0}],
        [{"node": "Append to canva_D", "type": "main", "index": 0}],
        [{"node": "Append to canva_E", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "versionId": "v2-simplified-columns",
  "meta": {"instanceId": "7b9aa171b14242b9606ae8a78c80997e8606678e3b8e440a23de3728e3221a90"},
  "id": "yRiGfpXQET1H7j5e",
  "tags": []
}
