content/modules/n8n/Instagram Reel from Drive.json
{
  "name": "Instagram Reel from Drive",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2080,
        160
      ],
      "id": "32e96037-0af2-4773-8b43-a0bedafb795d",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1fNld8ykqqtTtpt44EHdojgT7taTPrLDp",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1872,
        160
      ],
      "id": "a859e22f-ba13-498a-99d0-6ddb65510cdf",
      "name": "Get Drive Files",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TfNZ8jSb3HyhfHWF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1664,
        160
      ],
      "id": "537c4b28-217b-483f-9dc2-96ca3480be4e",
      "name": "Share File Public",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TfNZ8jSb3HyhfHWF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ファイル名からpost_idを抽出し、公開URLを生成\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const fileName = item.json.name || '';\n  // 拡張子を除去してpost_idを取得\n  const postId = fileName.replace(/\\.[^/.]+$/, '');\n  const fileId = item.json.id;\n  \n  // Google Drive直接ダウンロードURL\n  // 注意: 大きいファイルはウイルススキャン警告が出る可能性あり\n  const publicUrl = `https://drive.google.com/uc?export=download&id=${fileId}`;\n  \n  results.push({\n    json: {\n      post_id: postId,\n      file_id: fileId,\n      file_name: fileName,\n      video_url: publicUrl,\n      web_view_link: item.json.webViewLink || '',\n      web_content_link: item.json.webContentLink || ''\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        160
      ],
      "id": "00c51de5-4abb-48b6-83e7-96e8f47529d0",
      "name": "Extract post_id & URL"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ",
          "mode": "list",
          "cachedResultName": "n8n-test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1340398352,
          "mode": "list",
          "cachedResultName": "posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ/edit#gid=1340398352"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "post_id",
              "lookupValue": "={{ $json.post_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1248,
        160
      ],
      "id": "f44d47eb-0ac3-480c-bbb3-5ca0ae8fc2ce",
      "name": "Get Post Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3KFmyH23tY8tVoe2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://graph.instagram.com/v20.0/me",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "user_id,username"
            },
            {
              "name": "access_token",
              "value": "YOUR_ACCESS_TOKEN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1040,
        160
      ],
      "id": "f98fe18d-909a-40e9-99ee-5fdf494c3ec9",
      "name": "Get User ID"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v20.0/{{ $json.user_id }}/media",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "REELS"
            },
            {
              "name": "video_url",
              "value": "={{ $('Extract post_id & URL').item.json.video_url }}"
            },
            {
              "name": "caption",
              "value": "={{ $('Get Post Data').item.json.caption }}\n\n{{ $('Get Post Data').item.json.hashtags }}"
            },
            {
              "name": "share_to_feed",
              "value": "true"
            },
            {
              "name": "access_token",
              "value": "YOUR_ACCESS_TOKEN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -832,
        160
      ],
      "id": "f3aaf111-17df-4e5f-b3aa-abafc00b622f",
      "name": "Create Reel Container"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -624,
        160
      ],
      "id": "9b9e88af-0012-4f95-9002-3d000037a1d6",
      "name": "Wait 30s",
      "webhookId": "wait-reel"
    },
    {
      "parameters": {
        "url": "=https://graph.instagram.com/{{ $json.id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "status_code"
            },
            {
              "name": "access_token",
              "value": "YOUR_ACCESS_TOKEN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -416,
        160
      ],
      "id": "89accdba-b8e7-4bdc-a74f-6849ca15b752",
      "name": "Check Container Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "FINISHED",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "finished-check"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -208,
        160
      ],
      "id": "869c8af3-caa3-4558-a7ff-74810a22e574",
      "name": "If FINISHED"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v20.0/{{ $('Get User ID').item.json.user_id }}/media_publish",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $('Create Reel Container').item.json.id }}"
            },
            {
              "name": "access_token",
              "value": "YOUR_ACCESS_TOKEN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        0
      ],
      "id": "d9a38867-f7af-4606-a4fb-8667203515af",
      "name": "Publish Reel"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-postid",
              "name": "post_id",
              "value": "={{ $('Extract post_id & URL').item.json.post_id }}",
              "type": "string"
            },
            {
              "id": "set-status",
              "name": "status",
              "value": "PUBLISHED",
              "type": "string"
            },
            {
              "id": "set-igpostid",
              "name": "ig_post_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "set-publishedat",
              "name": "published_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "230c3b46-0c2c-4534-965d-73eb0f9df2fe",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ",
          "mode": "list",
          "cachedResultName": "n8n-test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1340398352,
          "mode": "list",
          "cachedResultName": "posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ/edit#gid=1340398352"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "post_id": "={{ $json.post_id }}",
            "status": "={{ $json.status }}",
            "ig_post_id": "={{ $json.ig_post_id }}",
            "published_at": "={{ $json.published_at }}"
          },
          "matchingColumns": [
            "post_id"
          ],
          "schema": [
            {
              "id": "post_id",
              "displayName": "post_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ig_post_id",
              "displayName": "ig_post_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "published_at",
              "displayName": "published_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "4b446e15-544b-4390-ab4f-b45c2f75384b",
      "name": "Update Posts Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3KFmyH23tY8tVoe2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        0,
        320
      ],
      "id": "c3fee7c7-6718-4981-9a59-53aa79fb0cb1",
      "name": "Wait 15s Retry",
      "webhookId": "wait-retry"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Get Drive Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Drive Files": {
      "main": [
        [
          {
            "node": "Share File Public",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share File Public": {
      "main": [
        [
          {
            "node": "Extract post_id & URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract post_id & URL": {
      "main": [
        [
          {
            "node": "Get Post Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Post Data": {
      "main": [
        [
          {
            "node": "Get User ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User ID": {
      "main": [
        [
          {
            "node": "Create Reel Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Reel Container": {
      "main": [
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s": {
      "main": [
        [
          {
            "node": "Check Container Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Container Status": {
      "main": [
        [
          {
            "node": "If FINISHED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If FINISHED": {
      "main": [
        [
          {
            "node": "Publish Reel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 15s Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Reel": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update Posts Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15s Retry": {
      "main": [
        [
          {
            "node": "Check Container Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f33329e6-b6b7-4f38-a5e7-b96dcc432b07",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7b9aa171b14242b9606ae8a78c80997e8606678e3b8e440a23de3728e3221a90"
  },
  "id": "ebHuyLV0ut8pKeO9",
  "tags": []
}