content/modules/n8n/SNS投稿作成.json
{
  "name": "SNS投稿作成",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-960, -144],
      "id": "trigger",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ",
          "mode": "list",
          "cachedResultName": "n8n-test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2072779338,
          "mode": "list",
          "cachedResultName": "ideas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ/edit#gid=2072779338"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "NEW"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-752, -144],
      "id": "get-ideas",
      "name": "Get Ideas (status=NEW)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3KFmyH23tY8tVoe2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// カテゴリごとに5件ずつに制限\nconst items = $input.all();\nconst categoryCount = { A: 0, B: 0, C: 0, D: 0, E: 0 };\nconst result = [];\n\nfor (const item of items) {\n  const cat = item.json.category;\n  if (categoryCount[cat] !== undefined && categoryCount[cat] < 5) {\n    result.push(item);\n    categoryCount[cat]++;\n  }\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-544, -144],
      "id": "limit-5-per-category",
      "name": "Limit 5 per Category"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-336, -144],
      "id": "loop",
      "name": "Loop"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "A",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cond-a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Category A"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-b",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "B",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Category B"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-c",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "C",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Category C"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-d",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "D",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Category D"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-e",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "E",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Category E"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [-128, -144],
      "id": "switch",
      "name": "Switch"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=あなたはInstagramリール動画の台本ライターです。\n\n以下の投稿企画を「VS対決型」の60秒リール台本に変換してください。\n\n## 投稿企画\nタイトル: {{ $json.title }}\nツール: {{ $json.tools }}\nリサーチポイント: {{ $json.research_points }}\n\n## VS対決型の構成\n- hook: 視聴者の注目を引く煽りワード\n- title_1〜3: 対決の構図を示す（ツールA VS ツールB）\n- problems: 視聴者が抱える悩み・混乱（3行、改行区切り）\n- step1〜3: 比較ポイント（タイトル＋内容3行）\n- cta: 行動喚起\n\n## hookの良い例（必ずこのような形式で）\n- 「知らないと損する！」\n- 「結論すごいのはどっち？」\n- 「徹底比較してみた」\n- 「どっちを選ぶべき？」\n- 「勝者はこっちでした」\n\n## 文字数制限（厳守）\n- hook: 全角11文字以内\n- title_1, title_2, title_3: 各全角11文字以内\n- step1_title, step2_title, step3_title: 各全角11文字以内\n- problems内の各行: 全角14文字以内\n- step内容の各行: 全角14文字以内\n\n## step内容の良い例\n- 「コードを書かずに自動化」\n- 「初心者でもすぐ使える」\n- 「無料プランで十分」\n- 「設定は3分で完了」\n\n## step内容の悪い例（絶対に使わない）\n- 「導入のし易さ差」← 日本語として不自然\n- 「機能性の違い」← 抽象的すぎる\n- 「コスト面での優位」← 硬すぎる\n\n## 出力形式（JSON）\n{\n  \"post_type\": \"REEL\",\n  \"pattern\": \"versus\",\n  \"narration_1\": \"（前半30秒のナレーション全文）\",\n  \"narration_2\": \"（後半30秒のナレーション全文）\",\n  \"hook\": \"（煽りワード、11文字以内）\",\n  \"title_1\": \"（対決の左側、11文字以内）\",\n  \"title_2\": \"VS\",\n  \"title_3\": \"（対決の右側、11文字以内）\",\n  \"problems\": \"（悩み1行目）\\n（悩み2行目）\\n（悩み3行目）\",\n  \"step1_title\": \"（比較ポイント1、11文字以内）\",\n  \"step1_content\": \"（内容1行目）\\n（内容2行目）\\n（内容3行目）\",\n  \"step2_title\": \"（比較ポイント2、11文字以内）\",\n  \"step2_content\": \"（内容1行目）\\n（内容2行目）\\n（内容3行目）\",\n  \"step3_title\": \"（比較ポイント3、11文字以内）\",\n  \"step3_content\": \"（内容1行目）\\n（内容2行目）\\n（内容3行目）\",\n  \"cta\": \"コメントで教えて！\",\n  \"caption\": \"（Instagram投稿用キャプション 300文字程度）\",\n  \"hashtags\": [\"ハッシュタグ1\", \"ハッシュタグ2\", \"...5個\"]\n}\n\n重要:\n- JSONのみ出力してください\n- 絵文字の使用は禁止です\n- 自然な日本語を使ってください（硬い表現・不自然な造語は禁止）"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [96, -400],
      "id": "gemini-a",
      "name": "Gemini A (versus)",
      "credentials": {
        "googlePalmApi": {
          "id": "rdz0MVIRIHU5NIjD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=あなたはInstagramリール動画の台本ライターです。\n\n以下の投稿企画を「即効ハック型」の60秒リール台本に変換してください。\n\n## 投稿企画\nタイトル: {{ $json.title }}\nツール: {{ $json.tools }}\nリサーチポイント: {{ $json.research_points }}\n\n## 即効ハック型の構成\n- hook: 視聴者の注目を引く煽りワード\n- title_1〜3: 解決できることをインパクトある形で\n- problems: 手作業の辛さ・非効率さ（3行、改行区切り）\n- step1〜3: 解決ステップ（タイトル＋内容3行）\n- cta: 行動喚起\n\n## hookの良い例（必ずこのような形式で）\n- 「まだ手動でやってるの？」\n- 「これ知らないと損！」\n- 「作業時間が半分に！」\n- 「今すぐ使って！」\n- 「神ツール発見した」\n\n## 文字数制限（厳守）\n- hook: 全角11文字以内\n- title_1, title_2, title_3: 各全角11文字以内\n- step1_title, step2_title, step3_title: 各全角11文字以内\n- problems内の各行: 全角14文字以内\n- step内容の各行: 全角14文字以内\n\n## step内容の良い例\n- 「ボタン1つで完了」\n- 「設定は3分だけ」\n- 「無料で使える」\n- 「コード不要で簡単」\n\n## step内容の悪い例（絶対に使わない）\n- 「効率性の向上」← 抽象的すぎる\n- 「時間短縮効果」← 硬すぎる\n- 「自動化の実現」← 具体性がない\n\n## 出力形式（JSON）\n{\n  \"post_type\": \"REEL\",\n  \"pattern\": \"instant_hack\",\n  \"narration_1\": \"（前半30秒のナレーション全文）\",\n  \"narration_2\": \"（後半30秒のナレーション全文）\",\n  \"hook\": \"（煽りワード、11文字以内）\",\n  \"title_1\": \"（11文字以内）\",\n  \"title_2\": \"（11文字以内）\",\n  \"title_3\": \"（11文字以内、不要なら空文字）\",\n  \"problems\": \"（悩み1行目）\\n（悩み2行目）\\n（悩み3行目）\",\n  \"step1_title\": \"（ステップ1タイトル、11文字以内）\",\n  \"step1_content\": \"（内容1行目）\\n（内容2行目）\\n（内容3行目）\",\n  \"step2_title\": \"（ステップ2タイトル、11文字以内）\",\n  \"step2_content\": \"（内容1行目）\\n（内容2行目）\\n（内容3行目）\",\n  \"step3_title\": \"（ステップ3タイトル、11文字以内）\",\n  \"step3_content\": \"（内容1行目）\\n（内容2行目）\\n（内容3行目）\",\n  \"cta\": \"プロフのリンクから！\",\n  \"caption\": \"（Instagram投稿用キャプション 300文字程度）\",\n  \"hashtags\": [\"ハッシュタグ1\", \"ハッシュタグ2\", \"...5個\"]\n}\n\n重要:\n- JSONのみ出力してください\n- 絵文字の使用は禁止です\n- 自然な日本語を使ってください（硬い表現・不自然な造語は禁止）"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [96, -256],
      "id": "gemini-b",
      "name": "Gemini B (instant_hack)",
      "credentials": {
        "googlePalmApi": {
          "id": "rdz0MVIRIHU5NIjD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=あなたはInstagramリール動画の台本ライターです。\n\n以下の投稿企画を「裏技暴露型」の60秒リール台本に変換してください。\n\n## 投稿企画\nタイトル: {{ $json.title }}\nツール: {{ $json.tools }}\nリサーチポイント: {{ $json.research_points }}\n\n## 裏技暴露型の構成\n- hook: 視聴者の注目を引く煽りワード\n- title_1〜3: 暴露する裏技・隠し機能をインパクトある形で\n- problems: 普通の使い方では損している状況（3行、改行区切り）\n- step1〜3: 裏技ステップ（タイトル＋内容3行）\n- cta: 行動喚起\n\n## hookの良い例（必ずこのような形式で）\n- 「99%が知らない！」\n- 「隠し機能を発見！」\n- 「これ気づいてた？」\n- 「裏技教えます」\n- 「公式も言わない」\n\n## 文字数制限（厳守）\n- hook: 全角11文字以内\n- title_1, title_2, title_3: 各全角11文字以内\n- step1_title, step2_title, step3_title: 各全角11文字以内\n- problems内の各行: 全角14文字以内\n- step内容の各行: 全角14文字以内\n\n## step内容の良い例\n- 「設定画面の奥にある」\n- 「長押しで出てくる」\n- 「この組み合わせが最強」\n- 「知ってる人だけ得する」\n\n## step内容の悪い例（絶対に使わない）\n- 「機能の活用方法」← 抽象的すぎる\n- 「設定変更の効果」← 硬すぎる\n- 「利便性の向上」← 具体性がない\n\n## 出力形式（JSON）\n{\n  \"post_type\": \"REEL\",\n  \"pattern\": \"secret_feature\",\n  \"narration_1\": \"（前半30秒のナレーション全文）\",\n  \"narration_2\": \"（後半30秒のナレーション全文）\",\n  \"hook\": \"（煽りワード、11文字以内）\",\n  \"title_1\": \"（11文字以内）\",\n  \"title_2\": \"（11文字以内）\",\n  \"title_3\": \"（11文字以内、不要なら空文字）\",\n  \"problems\": \"（悩み1行目）\\n（悩み2行目）\\n（悩み3行目）\",\n  \"step1_title\": \"（裏技1タイトル、11文字以内）\",\n  \"step1_content\": \"（内容1行目）\\n（内容2行目）\\n（内容3行目）\",\n  \"step2_title\": \"（裏技2タイトル、11文字以内）\",\n  \"step2_content\": \"（内容1行目）\\n（内容2行目）\\n（内容3行目）\",\n  \"step3_title\": \"（裏技3タイトル、11文字以内）\",\n  \"step3_content\": \"（内容1行目）\\n（内容2行目）\\n（内容3行目）\",\n  \"cta\": \"保存して試してみて！\",\n  \"caption\": \"（Instagram投稿用キャプション 300文字程度）\",\n  \"hashtags\": [\"ハッシュタグ1\", \"ハッシュタグ2\", \"...5個\"]\n}\n\n重要:\n- JSONのみ出力してください\n- 絵文字の使用は禁止です\n- 自然な日本語を使ってください（硬い表現・不自然な造語は禁止）"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [96, -112],
      "id": "gemini-c",
      "name": "Gemini C (secret_feature)",
      "credentials": {
        "googlePalmApi": {
          "id": "rdz0MVIRIHU5NIjD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=あなたはInstagramリール動画の台本ライターです。\n\n以下の投稿企画を「警告型」の60秒リール台本に変換してください。\n\n## 投稿企画\nタイトル: {{ $json.title }}\nツール: {{ $json.tools }}\nリサーチポイント: {{ $json.research_points }}\n\n## 警告型の構成\n- hook: 視聴者の注目を引く煽りワード\n- title_1〜3: 警告内容をインパクトある形で\n- problems: 放置するとどうなるか（3行、改行区切り）\n- step1〜3: 対策ステップ（タイトル＋内容3行）\n- cta: 行動喚起\n\n## hookの良い例（必ずこのような形式で）\n- 「今すぐやめて！」\n- 「これやってたら危険」\n- 「知らないとヤバい」\n- 「要注意です」\n- 「警告します」\n\n## 文字数制限（厳守）\n- hook: 全角11文字以内\n- title_1, title_2, title_3: 各全角11文字以内\n- step1_title, step2_title, step3_title: 各全角11文字以内\n- problems内の各行: 全角14文字以内\n- step内容の各行: 全角14文字以内\n\n## step内容の良い例\n- 「まずこれを確認して」\n- 「設定を今すぐ変更」\n- 「これだけは絶対やる」\n- 「放置すると大変なことに」\n\n## step内容の悪い例（絶対に使わない）\n- 「リスク回避の方法」← 抽象的すぎる\n- 「対策の実施」← 硬すぎる\n- 「注意点の確認」← 具体性がない\n\n## 出力形式（JSON）\n{\n  \"post_type\": \"REEL\",\n  \"pattern\": \"warning\",\n  \"narration_1\": \"（前半30秒のナレーション全文）\",\n  \"narration_2\": \"（後半30秒のナレーション全文）\",\n  \"hook\": \"（煽りワード、11文字以内）\",\n  \"title_1\": \"（11文字以内）\",\n  \"title_2\": \"（11文字以内）\",\n  \"title_3\": \"（11文字以内、不要なら空文字）\",\n  \"problems\": \"（リスク1行目）\\n（リスク2行目）\\n（リスク3行目）\",\n  \"step1_title\": \"（対策1タイトル、11文字以内）\",\n  \"step1_content\": \"（内容1行目）\\n（内容2行目）\\n（内容3行目）\",\n  \"step2_title\": \"（対策2タイトル、11文字以内）\",\n  \"step2_content\": \"（内容1行目）\\n（内容2行目）\\n（内容3行目）\",\n  \"step3_title\": \"（対策3タイトル、11文字以内）\",\n  \"step3_content\": \"（内容1行目）\\n（内容2行目）\\n（内容3行目）\",\n  \"cta\": \"保存して実践して！\",\n  \"caption\": \"（Instagram投稿用キャプション 300文字程度）\",\n  \"hashtags\": [\"ハッシュタグ1\", \"ハッシュタグ2\", \"...5個\"]\n}\n\n重要:\n- JSONのみ出力してください\n- 絵文字の使用は禁止です\n- 自然な日本語を使ってください（硬い表現・不自然な造語は禁止）"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [96, 32],
      "id": "gemini-d",
      "name": "Gemini D (warning)",
      "credentials": {
        "googlePalmApi": {
          "id": "rdz0MVIRIHU5NIjD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=あなたはInstagramリール動画の台本ライターです。\n\n以下の投稿企画を「ランキング型」の60秒リール台本に変換してください。\n\n## 投稿企画\nタイトル: {{ $json.title }}\nツール: {{ $json.tools }}\nリサーチポイント: {{ $json.research_points }}\n\n## ランキング型の構成\n- hook: 視聴者の注目を引く煽りワード\n- title_1〜3: ランキングテーマをインパクトある形で\n- problems: 選択肢が多すぎて困っている状況（3行、改行区切り）\n- step1: 第3位（タイトル＋内容3行）\n- step2: 第2位（タイトル＋内容3行）\n- step3: 第1位（タイトル＋内容3行）\n- cta: 行動喚起\n\n## hookの良い例（必ずこのような形式で）\n- 「2025年最新！」\n- 「TOP3発表！」\n- 「ベスト3はこれ！」\n- 「ランキング作った」\n- 「おすすめ3選！」\n\n## 文字数制限（厳守）\n- hook: 全角11文字以内\n- title_1, title_2, title_3: 各全角11文字以内\n- step1_title, step2_title, step3_title: 各全角11文字以内\n- problems内の各行: 全角14文字以内\n- step内容の各行: 全角14文字以内\n\n## step内容の良い例\n- 「無料で使えるのが最高」\n- 「初心者でも簡単」\n- 「これがあれば完璧」\n- 「迷ったらこれ一択」\n\n## step内容の悪い例（絶対に使わない）\n- 「機能面での評価」← 抽象的すぎる\n- 「総合的な優位性」← 硬すぎる\n- 「選定理由の説明」← 具体性がない\n\n## 出力形式（JSON）\n{\n  \"post_type\": \"REEL\",\n  \"pattern\": \"ranking\",\n  \"narration_1\": \"（前半30秒のナレーション全文）\",\n  \"narration_2\": \"（後半30秒のナレーション全文）\",\n  \"hook\": \"（煽りワード、11文字以内）\",\n  \"title_1\": \"（11文字以内）\",\n  \"title_2\": \"（11文字以内）\",\n  \"title_3\": \"（11文字以内、不要なら空文字）\",\n  \"problems\": \"（悩み1行目）\\n（悩み2行目）\\n（悩み3行目）\",\n  \"step1_title\": \"（第3位、11文字以内）\",\n  \"step1_content\": \"（内容1行目）\\n（内容2行目）\\n（内容3行目）\",\n  \"step2_title\": \"（第2位、11文字以内）\",\n  \"step2_content\": \"（内容1行目）\\n（内容2行目）\\n（内容3行目）\",\n  \"step3_title\": \"（第1位、11文字以内）\",\n  \"step3_content\": \"（内容1行目）\\n（内容2行目）\\n（内容3行目）\",\n  \"cta\": \"コメントで教えて！\",\n  \"caption\": \"（Instagram投稿用キャプション 300文字程度）\",\n  \"hashtags\": [\"ハッシュタグ1\", \"ハッシュタグ2\", \"...5個\"]\n}\n\n重要:\n- JSONのみ出力してください\n- 絵文字の使用は禁止です\n- 自然な日本語を使ってください（硬い表現・不自然な造語は禁止）"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [96, 176],
      "id": "gemini-e",
      "name": "Gemini E (ranking)",
      "credentials": {
        "googlePalmApi": {
          "id": "rdz0MVIRIHU5NIjD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Geminiの出力を取得\nlet text;\nconst input = $input.first().json;\n\n// Simplify Output ON/OFF両方に対応\nif (input.text) {\n  text = input.text;\n} else if (input.content && input.content.parts) {\n  text = input.content.parts[0].text;\n} else if (typeof input === 'string') {\n  text = input;\n} else {\n  return [{ json: input }];\n}\n\n// ```json と ``` を除去\nlet cleanText = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\n// 末尾のカンマ除去\ncleanText = cleanText.replace(/,(\\s*[\\]}])/g, '$1');\n\ntry {\n  const parsed = JSON.parse(cleanText);\n  return [{ json: parsed }];\n} catch (e) {\n  return [{ json: { error: e.message, rawText: cleanText.substring(0, 500) } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, -144],
      "id": "parse-json",
      "name": "Parse JSON"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ",
          "mode": "list",
          "cachedResultName": "n8n-test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1340398352,
          "mode": "list",
          "cachedResultName": "posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ/edit#gid=1340398352"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "post_id": "=POST-{{ new Date().getTime() }}",
            "post_type": "={{ $json.post_type }}",
            "status": "=DRAFT",
            "caption": "={{ $json.caption }}",
            "hashtags": "={{ $json.hashtags ? $json.hashtags.join(',') : '' }}",
            "content_json": "={{ JSON.stringify($json) }}",
            "created_at": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "post_id", "displayName": "post_id", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "post_type", "displayName": "post_type", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "status", "displayName": "status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "caption", "displayName": "caption", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "hashtags", "displayName": "hashtags", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "media_ids", "displayName": "media_ids", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "scheduled_at", "displayName": "scheduled_at", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "published_at", "displayName": "published_at", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "ig_post_id", "displayName": "ig_post_id", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "share_to_feed", "displayName": "share_to_feed", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "thumb_offset_ms", "displayName": "thumb_offset_ms", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "error_message", "displayName": "error_message", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "retry_count", "displayName": "retry_count", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "created_at", "displayName": "created_at", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "updated_at", "displayName": "updated_at", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "notes", "displayName": "notes", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "content_json", "displayName": "content_json", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [528, -144],
      "id": "append-posts",
      "name": "Append to posts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3KFmyH23tY8tVoe2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ",
          "mode": "list",
          "cachedResultName": "n8n-test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2072779338,
          "mode": "list",
          "cachedResultName": "ideas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jnsUM1eNojeLmAGkZwEzLetBrB2CUjzRVoJ_3uKmKlQ/edit#gid=2072779338"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "idea_id": "={{ $('Loop').item.json.idea_id }}",
            "status": "ADOPTED"
          },
          "matchingColumns": ["idea_id"],
          "schema": [
            {"id": "idea_id", "displayName": "idea_id", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "status", "displayName": "status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [736, -144],
      "id": "update-ideas",
      "name": "Update ideas ADOPTED",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3KFmyH23tY8tVoe2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "unit": "seconds",
        "value": 5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [944, -144],
      "id": "wait",
      "name": "Wait 5s",
      "webhookId": "wait-webhook"
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [[{"node": "Get Ideas (status=NEW)", "type": "main", "index": 0}]]
    },
    "Get Ideas (status=NEW)": {
      "main": [[{"node": "Limit 5 per Category", "type": "main", "index": 0}]]
    },
    "Limit 5 per Category": {
      "main": [[{"node": "Loop", "type": "main", "index": 0}]]
    },
    "Loop": {
      "main": [
        [],
        [{"node": "Switch", "type": "main", "index": 0}]
      ]
    },
    "Switch": {
      "main": [
        [{"node": "Gemini A (versus)", "type": "main", "index": 0}],
        [{"node": "Gemini B (instant_hack)", "type": "main", "index": 0}],
        [{"node": "Gemini C (secret_feature)", "type": "main", "index": 0}],
        [{"node": "Gemini D (warning)", "type": "main", "index": 0}],
        [{"node": "Gemini E (ranking)", "type": "main", "index": 0}]
      ]
    },
    "Gemini A (versus)": {
      "main": [[{"node": "Parse JSON", "type": "main", "index": 0}]]
    },
    "Gemini B (instant_hack)": {
      "main": [[{"node": "Parse JSON", "type": "main", "index": 0}]]
    },
    "Gemini C (secret_feature)": {
      "main": [[{"node": "Parse JSON", "type": "main", "index": 0}]]
    },
    "Gemini D (warning)": {
      "main": [[{"node": "Parse JSON", "type": "main", "index": 0}]]
    },
    "Gemini E (ranking)": {
      "main": [[{"node": "Parse JSON", "type": "main", "index": 0}]]
    },
    "Parse JSON": {
      "main": [[{"node": "Append to posts", "type": "main", "index": 0}]]
    },
    "Append to posts": {
      "main": [[{"node": "Update ideas ADOPTED", "type": "main", "index": 0}]]
    },
    "Update ideas ADOPTED": {
      "main": [[{"node": "Wait 5s", "type": "main", "index": 0}]]
    },
    "Wait 5s": {
      "main": [[{"node": "Loop", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "versionId": "v2-simplified-columns",
  "meta": {"instanceId": "7b9aa171b14242b9606ae8a78c80997e8606678e3b8e440a23de3728e3221a90"},
  "id": "TvBesrFMlnYuKkEe",
  "tags": []
}
